<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <main>
      <h1>List?</h1>
    </main>
    <aside class="names">
      <%= params["name"] %>
      <%= params["id"] %>
    </aside>
  </body>
</html>
